.d1 {
	width:800px;
	heigth:600px;
	padding: 100px 100px 150px 400px;
}

.d3{
	color: black;
	margin: 0px 0px 0px 180px;
	font-size:40px;
	padding-bottom:50px;
}

.d2{
	color: red;
	margin: 0px 0px 0px 200px;
	padding-top:30px;
}

html{
	height: 100%;
}
body{
  
  -webkit-animation: animate-cloud 20s linear infinite;
  -moz-animation: animate-cloud 20s linear infinite;
  -ms-animation: animate-cloud 20s linear infinite;
  -o-animation: animate-cloud 20s linear infinite;
  animation: animate-cloud 20s linear infinite;
  width: 100%;
  height: auto;
}