<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.lzy.mapper.RolesMapper">
  <select id="selectAll" resultType="MenuList">
  SELECT * FROM menu WHERE id IN(SELECT menu_id FROM menu_role WHERE role_id =(SELECT role_id FROM user_role WHERE user_id=#{uid}))AND parent_id=#{mid}
  </select>
  
  </mapper>