<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="js/vue-2.4.0.js" type="text/javascript"></script>
		<script src="js/axios.min.js" type="text/javascript"></script>
	
		<link rel="stylesheet" href="css/amazeui.min.css">
		<link rel="stylesheet" href="css/admin.css">
		<link rel="stylesheet" href="css/app.css">
	</head>

	<body>
<form method="post" action="selectP" >

		<div class="am-cf admin-main">
			<!-- content start -->
			<div class="admin-content" id="app">
				<div class="admin-content-body">
					<div class="am-cf am-padding am-padding-bottom-0">
						
					</div>
					<hr>
					<div class="card-body">
                <div class="table-responsive" id="box1">
                <div>
                  <table class="am-table am-table-striped am-table-hover table-main">
                    <thead>
                      <tr>
                        <th>产品编号</th>
                        <th>产品名称</th>
                        <th>用途类型</th>
                        <th>类别</th>
                        <th>产品档次</th>
                        <th>产品经理</th>
                        <th>操作</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="mod in list" >
                        <td>{{mod.productid}}</td>
                        <td>{{mod.productname}}</td>            
                       	<td>{{mod.purposetypename}}</td>
                       	<td>{{mod.categoryname}}</td>
                        <td>{{mod.gradelevelname}}</td>
                        <td>{{mod.productmanagername}}</td>
                        <td><a @click="update(mod.productid)">修改</a></td>
                      </tr>
                    </tbody>
                  </table>
              </div>
        </div>
						

				</div>
				<!-- content end -->
			</div>
		</div>
			
		</form>
		<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

		<!--[if (gte IE 9)|!(IE)]><!-->
		<script src="js/jquery-1.11.3.min.js"></script>
		<!--<![endif]-->
		<script type="text/javascript" src="myplugs/js/plugs.js"></script>
		<script>
		var vm=new Vue({
			el:'#app',
			data:{
				d_id:'',//id
				pass:'',//审核状态
				design_id:'',//设计编号
				productid:'',//产品编号
				productname:'',//产品名称
				designer:'',//设计人
				Filingtime:'',//设计时间
				cost_price_sum:'',//产品设计总金额
				keywords:'',
				list:[]
			},
			mounted(){//初始化显示完成调用
				this.getAllBrand();
			},
			methods:{
				getAllBrand(){
					//发送异步请求，请求后端控制器，获取所有的品牌信息
					axios.get("selectP").then(res=>{
						//console.log(res)
						this.list=res.data
					}).catch(err=>{
						console.log("请求失败")
					})
				},
				search(){
					//遍历list数组,如果品牌名称包含keywords中的内容,
					//将品牌添加到新的list中
					var newList=[]
					this.list.forEach(brand=>{
						if(brand.productname.includes(this.keywords)&&brand.Filingtime.includes(this.Filingtime)){
							newList.push(brand)
						}
					})
					//alert(newList.length)
					return newList;
				},
				getPass(p){
					axios.get("yespass?id="+p).then(res=>{
						//console.log(res)
						alert(res.data)
						this.getAllBrand();
					}).catch(err=>{
						console.log("请求失败")
					})
				},
				noPass(p){
					axios.get("notPass?id="+p).then(res=>{
						//console.log(res)
						alert(res.data)
						this.getAllBrand();
					}).catch(err=>{
						console.log("请求失败")
					})
				},
				update(id){
					window.location.href="/updatePro3?productid="+id;
				}
			}
		})
		</script>

	</body>

</html>