<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>用户登录界面</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style2.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/body.css}" />
</head>
<body>
	<div class="container">
		<section id="content">
		<form  method="post" action="login2">
			<h1>用户登录</h1>
			<div>
				<input type="text" placeholder="用户名" name="username" required="" id="username"  onclick="f()"  />
			</div>
			<div>
				<input type="password" placeholder="密码" name="password" required="" id="password" />
			</div>
			<span style="color: red" th:text="${msg}"></span>
			<div class="">
				<span class="help-block u-errormessage" id="js-server-helpinfo">&nbsp;</span>
			</div>
			<div>
				<!-- <input type="submit" value="Log in" /> -->
				<input type="submit" value="登录" class="btn btn-primary"
					id="js-btn-login" /> <a href="#">忘记密码?</a>
				<!-- <a href="#">Register</a> -->
			</div>
		</form>
		<!-- form -->
		<div class="button">
			<span class="help-block u-errormessage" id="js-server-helpinfo">&nbsp;</span>
		</div>
		<!-- button --> </section>
		<!-- content -->
	</div>
		<script type="text/javascript" th:href="@{/js/jquery-1.12.4.js}"></script>
		<script type="text/javascript">
		function f() {
			$("span").html("");
			
		}
		</script>
</body>
</html>